{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">{{ object.title }}</h1>
                    <p class="lead">{{ object.author }} | {{ object.date }}</p>
                    <hr class="my-4">
                    <p>{{ object.body }}</p>
                    <a class="btn btn-warning" href="{% url 'article_edit' object.pk %}" role="button">Edit</a>
                    <a class="btn btn-danger" href="{% url 'article_delete' object.pk %}" role="button">Delete</a>
                    <a class="btn btn-primary" href="{% url 'article_list' %}" role="button">All Articles</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}